@model EditUserInputModel
@{
    ViewData["Title"] = "Edit User";
}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Users</a></li>
        <li class="breadcrumb-item active">@Model.Name</li>
    </ol>
</nav>

<ul class="nav nav-tabs" id="editUserTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" role="tab"
           aria-controls="account" aria-selected="true">Account</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="claims-tab" data-toggle="tab" href="#claims" role="tab"
           aria-controls="claims" aria-selected="false">Claims</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">

        <form method="post">
            <div class="form-row mt-3">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Nickname"></label>
                    <input asp-for="Nickname" class="form-control" />
                    <span asp-validation-for="Nickname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <small id="passwordHelp" class="form-text text-muted">
                        Leave password field empty if you do not want to change password.
                        Passwords must be at least six characters long, and contain at least one
                        uppercase character, one lowercase character, a digit, and a non-alphanumeric
                        character.
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="custom-control custom-switch">
                <input asp-for="IsAdministrator" class="custom-control-input">
                <label asp-for="IsAdministrator" class="custom-control-label"></label>
            </div>
            <div class="custom-control custom-switch mb-3">
                <input asp-for="EmailConfirmed" class="custom-control-input">
                <label asp-for="EmailConfirmed" class="custom-control-label"></label>
            </div>
            <a class="btn btn-secondary mr-2" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <div class="tab-pane fade" id="claims" role="tabpanel" aria-labelledby="claims-tab">
        <div class="card-deck mt-3">
            <div class="card">
                <div class="card-header">
                    Account Claims
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @foreach (var claim in ViewBag.UserClaims)
                            {
                                <tr>
                                    <th>@claim.Type</th>
                                    <td>@claim.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Other Claims
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            @foreach (var claim in ViewBag.OtherClaims)
                            {
                                <tr>
                                    <th>@claim.Type</th>
                                    <td>@claim.Value</td>
                                    <td>
                                        <button data-claim-type="@claim.Type" data-claim-value="@claim.Value"
                                                class="delete btn btn-danger btn-sm">
                                            Remove
                                        </button>
                                    </td>
                                </tr>
                            }
                            <tr id="addRow">
                                <td><input id="claimType" type="text" class="form-control" /></td>
                                <td><input id="claimValue" type="text" class="form-control" /></td>
                                <td><button id="addBtn" class="btn btn-primary btn-sm">Add</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function addClaim() {
            var claimType = $("#claimType").val();
            var claimValue = $("#claimValue").val();
            if (claimType && claimValue) {
                $.ajax({
                    url: `@Context.Request.PathBase/Users/@Model.Id/Claims/${claimType}=${claimValue}`,
                    method: "post",
                    success: function () {
                        var row = $(`<tr><th>${claimType}</th><td>${claimValue}</td><td></td></tr>`);
                        var removeBtn = $(`<button data-claim-type=${claimType} data-claim-value=${claimValue}
                            class='delete btn btn-danger btn-sm'>Remove</button>`);
                        removeBtn.click(removeClaim(row));
                        row.filter(":last-child").append(removeBtn);
                        $("#claimType").val();
                        $("#claimValue").val();
                    }
                });
            }
        }
        function removeClaim($element) {
            var claimType = $element.attr("data-claim-type");
            var claimValue = $element.attr("data-claim-value");
            $.ajax({
                url: `@Context.Request.PathBase/Users/@Model.Id/Claims/${claimType}=${claimValue}`,
                method: "delete",
                success: function () {
                    $element.closest("tr").remove();
                }
            });
        }
        $(function () {
            $(".delete").click(function () {
                removeClaim($this);
            });
            $("#addBtn").click(function () {
                addClaim();
            });
        });
    </script>
}
